body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    background-color: lightgray;
    border: 1px solid black;
    list-style-type: none;
    padding: 20px;
}

li {
    font-weight: bold;
    color: green;
}
